*{
    font-family: 'Poller One', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    color: white;
    background-color: rgb(216, 24, 216);
    border: none;
    width: fit-content;
    padding: 5px 8px;
    border-radius: 3px;
}
nav button:hover{
    color:  rgb(216, 24, 216);
    background-color: white;
    cursor: pointer;
}
main div button:hover{
    color:  rgb(216, 24, 216);
    background-color: white;
    cursor:pointer;
}
nav{
    width: 100%;
    padding: 1% 3%;
    display: flex;
    background-color: black;
    align-items: center;
    gap: 5%;
    position: fixed;
}
nav ul{
    display: flex;
    color: white;
    align-items: center;
    gap: 50px;
}
nav ul li{
    list-style:none;
}
nav ul li:hover{
    color: goldenrod;
    cursor: pointer;
}

.logo{display: flex;
    gap: 50px;
}
.logo div{
    border-right: white solid 1px;
}
.logo img{
    width: 110px;
    border-right: 1px;
}
nav button{
    position: relative;
    left:400px ;
}

/* main section starts here */
main{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 10%;
    color: white;
    gap: 10px;
}
main h1{
    font-size: 55px;
    text-align: center;
}
main p{
    font-size: 20px;
}
main div{
    padding-top: 5%;
}
main div button{
    font-size: 20px;
    /* padding: 1%; */
    padding: 10px 8px;
}